.pkp_brand_footer {
	display:none;
}

a {
  color: @primary;
  text-decoration: underline;
    &:hover,
    &:focus {
      color: @primary-lift;
    }
}

.obj_article_summary > .title a {
  text-decoration: underline;
}

body {
  background: #fff;
}

//Some helpful customizations

//This helps you control the width of the page. In case you don't like the defaults.
//(This is also in 'header-image.less')
//You can also use this in conjunction with 'sidebar.less' to finesse your layout without having to include 'header-image.less'.
/*
.pkp_site_name,
.pkp_navigation_primary_wrapper,
.pkp_navigation_user,
.pkp_structure_content,
.pkp_structure_footer {
	max-width:@header-width;
}

.pkp_structure_main {
  max-width:@header-width;
}
*/
