#group {
    display:none;
}

#journalDescription {
    font-size: 12pt;
    line-height: 125%;
    font-family: Calibri;
}

BODY {
    background-color: #FFFFFF;
    background-image: url('background.jpg');
    background-position:  center;
    background-repeat: repeat-y;
    color: #111111;
    font-family: Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}
DIV {
    line-height: 140%;
    text-align: left;
}
TABLE {
    border-left:0px none -moz-use-text-color; border-top:0px none -moz-use-text-color; border-bottom:0px none -moz-use-text-color; border-right:0px none; border-spacing: 0;
    border-right-style:none; border-right-width:0px; font-size: 1em
}
FORM {
    margin: 0;
}
A {
    text-decoration: underline;
}
A:link {
    color: #000000;
}
A:active {
    color: #000000;
}
A:visited {
    color: #000000;
}
A:hover {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    text-decoration: none;
}
A.plain {
    text-decoration: none;
}
UL {
    margin: 0.25em 0 0.75em;
    padding: 0 0 0 2.5em;
}
TT {
    font-size: 1.25em;
}
LABEL {
}
LABEL.error {
    color: #990000;
}
INPUT.textField {
    background-color: #F0F0E8;
    border-left: 2px solid #666666;
    border-top: 2px solid #666666;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}
SELECT.selectMenu {
    background-color: #F0F0E8;
    border-left: 2px solid #666666;
    border-top: 2px solid #666666;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}
TEXTAREA.textArea {
    background-color: #F0F0E8;
    border-left: 2px solid #666666;
    border-top: 2px solid #666666;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}
INPUT.uploadField {
    background-color: #F0F0E8;
    border-left: 2px solid #666666;
    border-top: 2px solid #666666;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}
INPUT.button {
    background-color: #999999;
    font-size: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
INPUT.defaultButton {
    background-color: #999999;
    color: #FBFBF3;
    font-weight: bold;
}
#container {
    height: 433px;
    line-height: 125%;
    padding-bottom: 0.3em;
    padding-left: 0;
    text-align: center;
}
#header {
    background-color: transparent;
    margin: 0 auto;
    width: 870px;
}
#headerTitle {
    background-color: #ff8e29;
    height: 90px;
    margin: 0 auto;
    text-align: left;
    width: 871px;
}
#header H1 {
    color: transparent;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0;
    font-weight: normal;
    margin: 0 auto;
    padding: 19px;
}
#body {
    margin: 0 auto;
    width: 835px;
}
#footer {
    clear: both;
    min-height: 50px;
    position: relative;
    text-align: center;
    width: 100%;
}
#footerContent {
    margin: 0 auto;
    width: 825px;
}
#rightSidebar {
    float: right;
    font-size: 0.65em;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
    overflow: visible;
    padding-top: 25px;
    width: 16%;
}
#main {
    background-color: transparent;
    display: inline;
    float: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 500px;
}
#main H2 {
    background-color: transparent;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.15em;
    font-weight: normal;
    margin: 0 1em 0.5em 0.5em;
    padding-left: 10px;
    padding-top: 0.5em;
}
#main H3 {
    background-color: transparent;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    margin: 0 1em 0.5em 0.5em;
    padding-left: 0;
    padding-top: 0;
}
#navbar {
    border-bottom: 0px dotted;
    margin: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-top: 5px;
    width: 625px
}
#breadcrumb {
    color: #999999;
    font-size: 0.7em;
    padding-left: 15px;
    padding-top: 0;
}
#content {
    border-top: 0px solid #C12000;
    font-size: 0.7em;
    width: 615px; margin-left:0.5em; margin-right:0; margin-top:0; margin-bottom:6em; padding-left:20px; padding-right:0.5em; padding-top:0; padding-bottom:3em
}
#content H3 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.6em;
    font-weight: normal;
    line-height: 1.35em;
    margin: 0 1em 0.25em 0;
    padding-top: 0.75em;
}
#content H4 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    margin: 0 1em 0.25em 0;
    padding-top: 0.75em;
}
#content H5 {
    font-size: 1em;
    font-weight: bold;
    margin: 0 1em 0.25em 0;
    padding-top: 0.75em;
}
#navbar a {
    color: #FF8E29;
    font-size: 0.69em;
    font-weight: 900;
    letter-spacing: 0;
}
#navbar a:link {
    color: #FF8E29;
}
#navbar a:active {
    color: #FF8E29;
}
#navbar a:visited {
    color: #FF8E29;
}
#navbar a:hover {
    background: none repeat scroll 0 0 transparent;
    color: #FF8E29;
    text-decoration: underline;
}
#developedBy {
    font-size: 0.95em;
    text-transform: uppercase;
}
#sidebar DIV.block {
    color: #000000;
    font-size: 1em;
    padding-bottom: 1.5em;
}
#sidebar DIV.block SPAN.blockTitle {
    color: #000000;
    display: block;
    font-size: 1em;
    letter-spacing: 0.1em;
    padding: 0.5em 0;
    text-transform: uppercase;
}
#sidebar DIV.block SPAN.blockSubtitle {
    color: #000000;
    display: block;
    padding: 0;
}
#sidebar INPUT.textField {
    font-size: 1em;
}
#sidebar SELECT.selectMenu {
    font-size: 1em;
}
#sidebar INPUT.button {
    font-size: 1em;
}
#sidebar A {
}
#sidebar A:link {
    color: #000000;
}
#sidebar A:active {
    color: #000000;
}
#sidebar A:visited {
    color: #000000;
}
#sidebar A:hover {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    text-decoration: none;
}
#breadcrumb A {
    color: #999999;
    text-decoration: none;
}
#breadcrumb A:link {
    color: #999999;
}
#breadcrumb A:visited {
    color: #999999;
}
#breadcrumb A:hover {
    background: none repeat scroll 0 0 transparent;
    color: #999999;
    text-decoration: underline;
}
#breadcrumb A.current {
    font-weight: bold;
}
#footer DIV.debugStats {
    font-size: 0.6em;
}
SPAN.disabled {
    color: #666666;
}
LABEL.disabled {
    color: #666666;
}
A.action {
    font-size: 0.85em;
    text-transform: uppercase;
}
A.file {
    font-size: 0.85em;
    text-transform: uppercase;
}
A.icon {
    text-decoration: none;
}
A.icon:hover {
    background: none repeat scroll 0 0 transparent;
}
SPAN.formRequired {
    color: #333333;
    font-size: 0.9em;
}
SPAN.instruct {
}
SPAN.heading {
    font-size: 0.85em;
    text-transform: uppercase;
}
SPAN.highlight {
    border-bottom: 1px solid #8B7860;
}
.nowrap {
    white-space: nowrap;
}
TABLE.info {
}
TABLE.info TD {
    padding: 0 0.5em 0.5em 0;
}
TABLE.listing {
}
TABLE.listing TD {
    padding: 0.25em 0.5em;
}
TABLE.listing TR.heading TD {
    font-size: 0.85em;
    font-weight: normal;
    line-height: 120%;
    padding: 0.75em 0.5em 1em;
    text-transform: uppercase;
}
TABLE.listing TD.heading {
    font-size: 0.85em;
    font-weight: normal;
    line-height: 120%;
    padding: 0.75em 0.5em 1em;
    text-transform: uppercase;
}
TABLE.info TD.heading {
    font-size: 0.85em;
    font-weight: normal;
    line-height: 120%;
    padding: 0.75em 0.5em 1em;
    text-transform: uppercase;
}
TABLE.info TD.heading {
    padding-left: 0;
}
TABLE.listing TD.nodata {
    font-style: italic;
    text-align: center;
}
TABLE.info TD.nodata {
    font-style: italic;
    text-align: center;
}
TABLE.listing TD.headseparator {
    border-top: 1px solid #8B7860;
    font-size: 0.1em;
    line-height: 1%;
}
TABLE.listing TD.endseparator {
    border-top: 1px solid #8B7860;
    font-size: 0.25em;
    line-height: 10%;
}
TABLE.listing TD.separator {
    border-top: 1px solid #8B7860;
    font-size: 0.1em;
    line-height: 1%;
}
TABLE.info TD.separator {
    border-top: 1px solid #8B7860;
    font-size: 0.1em;
    line-height: 1%;
}
TABLE.data {
}
TABLE.data TR {
}
TABLE.data TD {
    padding-bottom: 0.25em;
}
TABLE.data TD.label {
    padding-right: 1em;
}
TABLE.data TD.value {
}
TABLE.data TD.separator {
    font-size: 0.1em;
    line-height: 1%;
    padding: 0.5em;
}
TABLE.data TD.heading {
    padding-left: 0;
    padding-right: 0;
}
TABLE.nested TR {
    margin: 0;
    padding: 0;
}
SPAN.nested {
    font-size: 1.2em;
    padding: 0 4px 0 0;
}
SPAN.formError {
    color: #990000;
    font-size: 1em;
    font-weight: bold;
}
UL.formErrorList {
    color: #990000;
}
UL.menu {
    margin: 0;
    padding: 0;
}
UL.menu LI {
    display: inline;
    margin: 0;
    padding: 0 1em 0 0;
}
UL.menu LI.current {
    font-weight: bold;
}
UL.menu A {
    font-size: 0.85em;
    text-decoration: none;
    text-transform: uppercase;
}
UL.steplist {
    list-style-type: decimal;
    margin: 0;
    padding: 0;
}
UL.steplist LI {
    display: inline;
    font-size: 0.85em;
    margin: 0;
    padding: 0 0.5em 0 0;
    text-transform: uppercase;
}
UL.steplist LI.current {
    font-weight: bold;
}
UL.steplist A {
    text-decoration: none;
}
UL.plain {
    list-style-type: none;
    padding-left: 1.5em;
}
DIV.separator {
    border-bottom: 1px solid #8B7860;
    font-size: 0.5em;
    line-height: 25%;
    margin: 1em 0 0.25em;
    padding: 0;
    width: 595px;
}
.tocGalleys {
    text-align: right;
}
.tocTitle {
    font-size: 110%;
}
.tocAuthors {
    font-style: italic;
}
.issueCoverImage img {
    width: 125px;
}
