.pkp_site_name,
.pkp_navigation_primary_wrapper,
.pkp_navigation_user,
.pkp_structure_content,
.pkp_structure_footer {
	max-width:800px;
}


.pkp_brand_footer {
	display:none;
}

.pkp_structure_main {
  background:@bg-base;
}

.pkp_structure_content {
  padding-top:0;
}

.pkp_nav_list ul li {
  background:@bg-base;
}
