.pkp_brand_footer {
	display:none;
}

.cmp_button_wire,
.obj_galley_link {
  color:#000;
}

.obj_issue_toc .galleys h2,
.obj_issue_toc .section h2 {
  background: transparent;
  color:#000;
}

.cmp_button_wire:hover,
.cmp_button_wire:focus,
.obj_galley_link:hover,
.obj_galley_link:focus {
  color: #000;
}

.pkp_navigation_user > li > a,
.pkp_navigation_user > li.in_focus > a,
.pkp_navigation_user > li > a:hover,
.pkp_navigation_user > li > a:focus {
  color:#000;
}

.pkp_nav_list ul {
  background:#fff;
  color:#000;
}

.pkp_nav_list ul a {
  color: #000;
}